<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="redes-sociais">
                    <li>
                        <a href="github.com/agdaa" target="_blank" class="icoGithub">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin.com/in/agda-camilla">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> @ 2021 Agda Camilla </span>
    <a clas="text-light" target="_blank" href="#">  agda.com.br</a>
</div>
</footer>